.banner {
    width: 94%;
    height: auto;
    background-image: url('https://wallpapers.com/images/hd/attack-on-titans-4k-titan-fight-7q7m9wixi74nyeua.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 10px;
    margin: 0 auto 70px;
    padding: 220px;
}

.banner__main {
    color: var(--white-color);
    text-align: center;
}

.banner__main-textmain {
    font-size: 6rem;
}

.banner__main-dash {
    width: 100%;
    height: 2px;
    margin: 10px auto;
    background-color: var(--white-color);
}

.banner__main-textchild {
    font-size: 2rem;
}

.banner__main-textchild span {
    color: var(--button-color)
}

/* Reponsive */

/* Mobile 0-750px */
@media (max-width: 46.875em) {
    .banner {
        padding: 100px
    }

    .banner__main {

    }
    .banner__main-dash {
        width: 60%;
        height: 2px;
        margin: 10px auto;
        background-color: var(--white-color);
    }
    .banner__main-textmain {
        font-size: 3rem;
    }
    .banner__main-textchild {
        font-size: 1.2rem;
    }
}

/* Bổ sung mobile cỡ nhỏ 530px */
@media (max-width: 33.125em) {
    .banner {
      padding: 50px 30px;
    }
    .banner__main-dash {
        width: 60%;
        height: 1px;
        margin: 10px auto;
        background-color: var(--white-color);
    }
    .banner__main-textmain {
        font-size: 2rem;
    }
    .banner__main-textchild {
        font-size: 1rem;
    }
}

/* Tablet 751px - 990px */
@media (min-width: 46.9375em) and (max-width: 61.875em) {
    .banner {
        padding: 150px
    }

    .banner__main {

    }
    .banner__main-dash {
        width: 80%;
        height: 2px;
        margin: 10px auto;
        background-color: var(--white-color);
    }
    .banner__main-textmain {
        font-size: 4rem;
    }
    .banner__main-textchild {
        font-size: 1.5rem;
    }
}

/* Pc > 991px  */
@media (min-width: 61.9375em) {
    .banner {
        padding: 150px;
    }
}